<p id="notice"><%= notice %></p>

<h1>Shop</h1>

<form action="create_order" method="post">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Remaining Quantity</th>
      <th>From date</th>
      <th>To date</th>
      <th colspan="1"></th>
    </tr>
  </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.remaining_quantity %></td>
          <td><%= product.from_date %></td>
          <td><%= product.to_date %></td>
          <td>
            <input type="number" name="order[<%= product.id %>]" min='0' max='<%= product.remaining_quantity %>' value='0'>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
<button>Order</button>    
</form>

<br>

<%= link_to 'New Product', new_product_path %>
<%= link_to 'Product List', products_path %>
<%= link_to 'Order List', 'order_list' %>