<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Purchased Date</th>
    </tr>
  </thead>

  <tbody>
    <% PurchaseItem.all.each do |item| %>
      <tr>
        <td><%= item.product.try(:name) %></td>
        <td><%= item.quantity %></td>
        <td><%= item.purchase_order.try(:purchase_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<%= link_to 'Shop', root_path %>
